---
import { description, skills } from "@/data.json"
---

<div id="about">
  <div class="max-w-[1320px] mx-auto sm:px-4 hidden-section">
    <div class="flex flex-wrap">
      <div class="w-full md:w-full lg:w-1/2 pr-4 pl-4">
        <section id="about_section">
          <h2 class="mb-8 font-paint text-xl text-center">ABOUT ME</h2>
          {description.map((desc) => <p class="mb-8">{desc}</p>)}
        </section>
      </div>

      <div class="flex flex-wrap w-full lg:w-1/2 pr-4 pl-4">
        <section
          id="skills_section"
          class="flex flex-wrap w-full xl:mb-0"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <h2 class="font-paint italic text-center text-xl w-full">SKILLS</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
            <div class="grid gap-4">
              {
                skills.slice(0, 3).map((skill) => {
                  return (
                    <img
                      class="h-auto max-w-full rounded-lg"
                      src={`/img/stack-icons/${skill}.svg`}
                      alt={skill.toUpperCase()}
                    />
                  )
                })
              }
            </div>
            <div class="grid gap-4">
              {
                skills.slice(3, 6).map((skill) => {
                  return (
                    <img
                      class="h-auto max-w-full rounded-lg"
                      src={`/img/stack-icons/${skill}.svg`}
                      alt={skill.toUpperCase()}
                    />
                  )
                })
              }
            </div>
            <div class="grid gap-4">
              {
                skills.slice(6, 10).map((skill) => {
                  return (
                    <img
                      class="h-auto max-w-full rounded-lg"
                      src={`/img/stack-icons/${skill}.svg`}
                      alt={skill.toUpperCase()}
                    />
                  )
                })
              }
            </div>
            <div class="grid gap-4">
              {
                skills.slice(10, 13).map((skill) => {
                  return (
                    <img
                      class="h-auto max-w-full rounded-lg"
                      src={`/img/stack-icons/${skill}.svg`}
                      alt={skill.toUpperCase()}
                    />
                  )
                })
              }
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  #about {
    #skills_section {
      text-align: -webkit-center;
    }
  }
</style>
